body{
    margin: 0%;
    padding: 0%;
   
}
.container__login{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
        
}

.login_ea{
    width: 380px;   
    height: 380px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10 #b8b8b8 ;
  
} 