.usuarios_pag{
   width: 100%;   
   }

.usuario_cadastrar{
   /* margin-top: 80px; */
   width: auto;
   margin-left: 10rem;
   padding: 1.5em;
   position: fixed;
}

@media screen and (max-width: 700px) {
   .usuario_cadastrar{
      margin-top: 30px;
      margin-left: 0.5px;
      
   }
 }
 
 @media screen and (max-width: 200px) {
   .usuario_cadastrar{
     position: fixed;
     margin-top: 22px;
   }

 }