.loading{
    font-size: 16px;
    color: darkgreen;  
}

.upload_pag{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0%;
    width: 100%;
    height: 100vh;    
    position: fixed;
    padding: 4em;
        
}; 

.upload_pag_input{
    background-color: blueviolet;
    height: 40vh;
    border: 2px dashed rgb(174, 229, 91);
   
}

@media screen and (max-width: 700px) {
    .upload_pag{
     padding: 1em;
     margin: 0%;
     font-size: 16px;   
     
    }

    .upload_pag_input{
     font-size: 12px;
     width: 100%;
     height: 40vh;
     border: 2px dashed rgb(174, 229, 91);
     padding: 20px;
     margin-top: 100px;
    }
}

@media screen and (max-width: 300px) {
    .upload_pag{
        margin-top: 15px;
        padding: 6px;
                
       }

    .upload_pag_input{      
        color: aquamarine;
        height: 40vh;
        padding: 8px;
      
                          
        
    }

}