*{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-left: 10px;
    position: fixed;
}
.formContainer{
    width: 100%;
    padding: 0%;
    margin: 0%;  
    position: fixed;

}