body{
    margin: 0;
    padding: 0%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow:auto;
  box-shadow: 1px 1px rgb(241, 241, 241) ;
  
}

.sidebar a {
  display: block;
  color: rgb(146, 146, 146);
  padding: 16px;
  text-decoration: none;
 }

.Nav_link{
  margin-top: 1em;;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
 color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 50px;
    position: fixed;
    overflow:auto;
  }
  .sidebar a {float:left;}
  div.content {margin-left: 0;}

  .Nav_link{   
    position: fixed;
   }
}

@media screen and (max-width: 200px) {
  .sidebar {
    width: 100%;
    height: 50px;
    position: fixed;
    overflow:auto;
  }
  .sidebar a {   
    float: none;
    height: 30px;
  }

  
}