body{
    margin: 0%;
    padding: 0%;
      
}

.error_400_401{
    display: flex;
    width: 100%;
    height: 100vh;    
    justify-content: center;
    align-items: center;
}

.div_error_400_401{   
    text-align: center;
        
}